<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgetor - ERROR</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="auxiliary/css/error.css" th:href="@{/auxiliary/css/error.css}" />
</head>
<body>
    <h1><em>"Not all who wander are lost"...</em></h1><br><br>
    <h3>But you are... Something went wrong.</h3>
    <h3>Status Code: <span th:text="${statusCode}" /></h3>
    <a href="/">Back to home</a>
    <p th:text="${message}"/>
</body>
</html>