<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Budgetor - Privacy</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../static/auxiliary/css/privacy.css" th:href="@{/auxiliary/css/privacy.css}" />
    </head>
    <body>
        <h1>You've reached the privacy page.</h1>
        <p>It's so private, you can't read it.  (Because I haven't written it yet...)</p>
        <a href="/">Back to home</a>
    </body>
</html>