<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Budgetor - Sign Up</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../static/auxiliary/css/signUp.css" th:href="@{/auxiliary/css/signUp.css}" />
        <link rel="stylesheet" type="text/css" href="../static/auxiliary/css/login.css" th:href="@{/auxiliary/css/login.css}" />
        <link rel="stylesheet" type="text/css" href="/landing/css/style.css" th:href="@{/landing/css/style.css}" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <!-- JS -->
        <script type="text/javascript" src="/auxiliary/js/signUp.js" th:href="@{/auxiliary/js/signUp.js}" defer></script>
        <script type="text/javascript" src="/landing/js/script.js" th:href="@{/landing/js/script.js}" defer></script>
    </head>
    <body>
        <nav id="header" class="row">
            <div>
                <a href="/" >&#8592; BUDGETOR</a>
            </div>
        </nav>
        <div class="FormWrapper">
            <div class="form">
                <h1>Create an Account</h1>

                <!-- Name -->
                <div class="row inputWrapper">
                    <!-- First Name -->
                    <div class="inputContainer">
                        <input type="text" id="firstName" class="inputs" name="firstName" placeholder=" " />
                        <label class="inputLabels" for="firstName">First Name (Optional)</label>
                    </div>

                    <!-- Last Name -->
                    <div class="inputContainer">
                        <input type="text" id="lastName" class="inputs" name="lastName" placeholder=" " />
                        <label class="inputLabels" for="lastName">Last Name (Optional)</label>
                    </div>
                </div>
                
                <!-- Contact Info -->
                <div class="row inputWrapper">
                    <!-- Email -->
                    <div class="inputContainer">
                        <input type="email" id="email" class="inputs" name="email" oninput="validateInput()" placeholder=" " />
                        <label class="inputLabels" for="email">Email</label>
                    </div>

                    <!-- Phone Number -->
                    <div class="inputContainer">
                        <input type="tel" id="phoneNumber" class="inputs" name="phoneNumber" pattern="([0-9]{3}) [0-9]{3}-[0-9]{4}" oninput="validateInput()" placeholder=" " />
                        <label class="inputLabels" for="phoneNumber">Phone Number (Optional)</label>
                    </div>
                </div>

                <!-- Password -->
                <div id="passwordContainer" class="inputContainer">
                    <input type="password" id="password" class="inputs" name="password" oninput="validateInput()" placeholder=" " required/>
                    <label id="passwordLabel" class="inputLabels" for="password">Password</label>
                </div>
                
                <!-- Password Confimation -->
                <div class="inputContainer">
                    <input type="password" id="passwordConfirmation" class="inputs" name="passwordConfirmation" oninput="validateInput()" placeholder=" " required />
                    <label id="passwordConfirmationLabel" class="inputLabels" for="passwordConfirmation">Confirm Password</label>
                </div>

                <ul id="helpText"></ul>

                <input type="submit" id="createAccountBtn" class="submitBtn" value="Submit" onclick="createAccount()" disabled />
            </form>
        </div>
    </body>
</html>