@{
    Layout = "_LandingLayout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/Landing/about.css" />
}

<h1 class="openingItem">About Budgetor</h1>
<h3>What is it?</h3>
<p>Budgetor is a passion project to help anyone manage their finances by automating much of the busy work of maintaining a budget.  It was started in 2020, but took a long time to become technically proficient enough to create it.</p>
<h3>How does it work?</h3>
<p>It's simple.  You start off by creating various budget categories that are pertinent to you and allotting dollar values to them.  Then after you connect your bank account to Budgetor, each time you make a new transaction you will be prompted to categorize your purchase.  That's all the busy work you'll ever have to do in order to get a high level look at your financial situation.</p>