@{
    Layout = "_LandingLayout";
}
<!-- CSS -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/Landing/app.css" />
}

<h1 class="openingItem">Budgetor App</h1>
<code>App coming soon!</code>
