/* Global Variables */
:root {
    --budgetor-green: rgb(0, 88, 40);
    --budgetor-gray: #f5f5f5;
    --budgetor-blue: #0c0c59;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

