body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif, 'Courier New', Courier, monospace;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.rowRev{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex-direction: column;
}

/* Opening Statement */
#openStatementWrapper {
    font-size: 26px;
    text-align: center;
    padding: 150px 20%;
    color: rgb(41, 41, 41);
    height: 60vh;
    background: conic-gradient(from 90deg at 1px 1px, transparent 90deg, #4c4c4c38 0) 0 0/50px 50px;
}

/* compatible devices */
#compatibleDevicesWrapper {
    background-color: white;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    padding: 32px 0px;
    color: black;
}

/* Seller Portion */
#sellerWrapper {
    padding: 0px;
    background-color: #cacaca;
    color: black;
}
.sellerPointWrappers {
    width: 20%;
    height: fit-content;
    padding: 32px;
    text-align: center;
}

/* Call To Arms */
#callToArmsWrapper {
    position: relative;
    display: flex;
    justify-content: center;

    padding: 0px 10%;
    text-align: center;
    margin: 72px 0px;
    font-size: 28px;
}

#callToArmsWrapper p {
    font-size: 24px;
}

#signUpBtn {
    background-color: #0c0c59de;
    border: 1px solid white;
    border-radius: 12px;
    width: 120px;
    height: 50px;
    color: white;
    margin: 64px 16px;
    font-size: 24px;
    font-weight: bolder;
}

#signUpBtn:hover {
    background-color: white;
    border: 6px solid #0c0c59de;
    color: black;
}