<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Budgetor - Big Picture</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/home/css/bigPicture.css" th:href="@{/home/css/bigPicture.css}" />
        <link rel="stylesheet" type="text/css" href="/home/css/menu.css" th:href="@{/home/css/menu.css}" />

        <!-- Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
        
        <!-- JS -->
        <script type="text/javascript" src="/home/js/menu.js" th:href="@{/home/js/menu.js}" defer></script>
    </head>
    <body>
        <header th:replace="homeFragments/menu :: header" />
        <div id="timeFrameTitleWrapper">
            <div id="jumpUpTimeFrame"><span class="arrows" id="jumpUp">&#8625;</span></div>
            <div id="currentTimeFrame"><span class="arrows">&#10229;</span> **Current Time Frame Title** <span class="arrows">&#10230;</span></div>
            <div id="jumpDownTimeFrame"></div> <!-- Not currently used.  Could be used in future. -->
        </div>
        
    </body>
</html>