<header id="navigationMenu" th:fragment="header">
    <div id="menu-toggle">
        Menu
    </div>
    <nav class="menu-slide">
        <h1 id="menu-header">Budgetor</h1>

        <div id="menu-container">
            <div id="top-menu" class="menu-parts">
                <a href="#" class="menu-item">Big Picture</a>
                <a href="#" class="menu-item">Current $TimeFrame Title$</a>
                <a href="#" class="menu-item">Goals</a>
                <a href="#" id="settings-link" class="menu-item">Settings</a>
            </div>
            <div id="bottom-menu" class="menu-parts">
                <div id="donate-ad-wrapper">
                    <p>Budgetor is a <em>free</em> product given to help everyone.  Please consider donating to help keep Budgetor online.</p>
                    <button id="support-btn" type="button">Support</button>
                </div>
                <a href="/logout" class="menu-item">logout</a>
                <a href="/privacy" class="menu-item">privacy</a>
            </div>
        </div>

    </nav>
</header>
