<header id="navigationMenu" th:fragment="header">
    <a href="#" id="menu-toggle">Menu</a>
    <nav class="menu-slide">
        <h1 id="menu-header">Budgetor</h1>

        <div id="menu-container">
            <div id="top-menu" class="menu-parts">
                <a href="#">Big Picture</a>
                <a href="#">Current $TimeFrame Title$</a>
                <a href="#">Goals</a>
                <br>
                <a href="#">Settings</a>
            </div>
            <div id="bottom-menu" class="menu-parts">
                <div id="donate-ad-wrapper">
                    <p>Budgetor is a <em>free</em> product given to help everyone.  Please consider donating to help keep Budgetor online.</p>
                    <button id="support-btn" value="Support"/>
                </div>
                <a href="/logout">logout</a>
                <a href="/privacy">privacy</a>
            </div>
        </div>

    </nav>
</header>
