<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Budgetor - About</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../../static/css/landing/about.css" th:href="@{/css/landing/about.css}" />
        <link rel="stylesheet" type="text/css" href="../../static/css/landing/header.css" th:href="@{/css/landing/header.css}" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div th:replace="landingFragments/header :: header" />
    </body>
</html>