<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Budgetor - App</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../static/landing/css/app.css" th:href="@{/landing/css/app.css}" />
        <link rel="stylesheet" type="text/css" href="../static/css/landing/header.css" th:href="@{/landing/css/header.css}" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div th:replace="landingFragments/header :: header" />
        <h1>You've reached the <em>App</em> page</h1>
    </body>
</html>