<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Budgetor - Contact</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../static/landing/css/contact.css" th:href="@{/landing/css/contact.css}" />
        <link rel="stylesheet" type="text/css" href="../static/css/landing/header.css" th:href="@{/landing/css/header.css}" />
        <link rel="stylesheet" type="text/css" href="../static/landing/css/style.css" th:href="@{/landing/css/style.css}" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <!-- JS -->
        <script type="text/javascript" src="/landing/js/script.js" th:href="@{/landing/js/script.js}" defer></script>
        <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js" defer></script>
    </head>
    <body>
        <div th:replace="landingFragments/header :: header" />
        <h1 class="openingItem">Have some feedback?</h1>
        <!-- L. Half of Screen.  Email Form -->
        <div id="contactWrapper" class="col">
            <h2>Send a message</h2>
            <p>Have a question about any part of the website?  Use this form to send us a message and let us know what's on your mind!</p>
            <div id="contactFormWrapper">
                <!-- Name -->
                <div class="row inputWrappers">
                    <input type="text" id="firstNameInput" class="contactFormInputs" placeholder="First Name" required>
                    <input type="text" id="lastNameInput" class="contactFormInputs" placeholder="Last Name">
                </div>
                <!-- Contact Details -->
                <div class="row inputWrappers">
                    <div class="tooltip">
                        <input type="tel" id="phoneNumberInput" class="contactFormInputs" pattern="([0-9]{3}) [0-9]{3}-[0-9]{4}" placeholder="Phone Number (optional)">
                        <span class="tooltipText">(###) ###-####</span>
                    </div>
                    <input type="email" id="emailInput" class="contactFormInputs" placeholder="Email (optional)">
                </div>
                <div class="row">
                    <textarea id="messageInput" placeholder="Your message..."></textarea>
                </div>
                <!-- Submit & Clear Btns -->
                <div class="row inputWrappers">
                    <!-- Submit Btn -->
                    <div class="col">
                        <button type="submit" id="sendMsgBtn" class="contactBtns" onclick="sendEmail()">Send</button>
                    </div>
                    <!-- Clear Btn -->
                    <div class="col">
                        <button type="button" id="clearMsgBtn" class="contactBtns" onclick="clearForm()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>