<nav id="headerWrapper" class="row" th:fragment="header">
    <div id="menuLeft" class="row menuParts">
        <a id="homeLink" href="/">BUDGETOR</a>
        <a class="headerLinks secondaryLinks" href="/about">ABOUT</a>
        <a class="headerLinks secondaryLinks" href="/app">APP</a>
        <a class="headerLinks secondaryLinks" href="/contact">CONTACT</a>
    </div>
    <div id="menuRight" class="rowRev menuParts">
        <button id="logInBtn">Log In</button>
        <a href="/signUp">Sign Up</a>
    </div>
</nav>
