<nav id="headerWrapper" class="row" th:fragment="header">
    <div id="menuLeft" class="row menuParts">
        <a id="homeLink" href="/">BUDGETOR</a>
        <a class="headerLinks secondaryLinks" href="/about">ABOUT</a>
        <a class="headerLinks secondaryLinks" href="/app">APP</a>
        <a class="headerLinks secondaryLinks" href="/contact">CONTACT</a>
    </div>
    <div id="menuRight" class="rowRev menuParts">
        <button id="logInBtn">Log In</button>
        <a href="/signUp">Sign Up</a>
    </div>
    <div id="logInWrapper" class="col">
        <!-- email -->
        <div class="row">
            <label for="emailLogInInput">Email</label>
        </div>
        <div class="row">
            <input type="email" id="emailLogInInput" class="logInInputs" required>
        </div>
        <!-- password -->
        <div class="row">
            <label for="passwordLogInInput">Password</label>
        </div>
        <div class="row">
            <input type="password" id="passwordLogInInput" class="logInInputs" required>
        </div>
        <div id="feedback" class="row">
            
        </div>
        <!-- submit btn -->
        <div class="row">
            <button type="submit" id="submitLogInBtn">Submit</button>
        </div>
    </div>
</nav>
