<nav id="headerWrapper" th:fragment="header">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="/" id="logo">BUDGETOR</a>
    <div id="menuContainer">
        <ul id="leftMenu" class="menu">
            <li class="headerItem"><a href="/about" class="headerLinks">ABOUT</a></li>
            <li class="headerItem"><a href="/app" class="headerLinks">APP</a></li>
            <li class="headerItem"><a href="/contact" class="headerLinks">CONTACT</a></li>
        </ul>
        <ul id="rightMenu" class="menu">
            <li class="headerItem">
                <a href="/signUp">
                    <button class="signUpBtns button">Sign Up</button>
                </a>
            </li>
            <li class="headerItem">
                <a href="/login">
                    <button id="logInBtn" class="button">Log In</button>
                </a>
            </li>
        </ul>
    </div>
    
</nav>