<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Budgetor - Landing</title>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../static/landing/css/header.css" th:href="@{/landing/css/header.css}" />
        <link rel="stylesheet" type="text/css" href="../static/landing/css/style.css" th:href="@{/landing/css/style.css}" />
            <!-- Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet"> 

        <!-- JS -->
        <script type="text/javascript" src="/landing/js/script.js" th:href="@{/landing/js/script.js}" defer></script>
        <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js" defer></script>
    </head>
    <body>
        <nav th:replace="landingFragments/header :: header" />
        <div id="openStatementWrapper">
            <div id="lineCover"></div>
            <div id="lineWrapper">
                <svg height="100%" width="100%" id="lineChart">
                    <line x1="0%" y1="100%" x2="8.3333%" y2="90%" class="chartLines chartElement"/>
                    <circle cx="8.3333%" cy="90%" r="5px" class="chartCircles chartElement" />
                    <text x="8.3333%" y="93%" fill="black" class="chartText chartElement">January</text>

                    <line x1="8.3333%" y1="90%" x2="16.6666%" y2="85%" class="chartLines chartElement" />
                    <circle cx="16.6666%" cy="85%" r="5px" class="chartCircles chartElement" />
                    <text x="16.6666%" y="83%" fill="black" class="chartText chartElement">February</text>

                    <line x1="16.6666%" y1="85%" x2="25%" y2="88%" class="chartLines chartElement" />
                    <circle cx="25%" cy="88%" r="5px" class="chartCircles chartElement" />
                    <text x="25%" y="91%" fill="black" class="chartText chartElement">March</text>

                    <line x1="25%" y1="88%" x2="33.3333%" y2="83%" class="chartLines chartElement" />
                    <circle cx="33.3333%" cy="83%" r="5px" class="chartCircles chartElement" />
                    <text x="33.3333%" y="86%" fill="black" class="chartText chartElement">April</text>

                    <line x1="33.3333%" y1="83%" x2="41.6666%" y2="77%" class="chartLines chartElement" />
                    <circle cx="41.6666%" cy="77%" r="5px" class="chartCircles chartElement" />
                    <text x="41.6666%" y="75%" fill="black" class="chartText chartElement">May</text>

                    <line x1="41.6666%" y1="77%" x2="50%" y2="82%" class="chartLines chartElement" />
                    <circle cx="50%" cy="82%" r="5px" class="chartCircles chartElement" />
                    <text x="50%" y="85%" fill="black" class="chartText chartElement">June</text>

                    <line x1="50%" y1="82%" x2="58.3333%" y2="75%" class="chartLines chartElement" />
                    <circle cx="58.3333%" cy="75%" r="5px" class="chartCircles chartElement" />
                    <text x="58.3333%" y="78%" fill="black" class="chartText chartElement">July</text>

                    <line x1="58.3333%" y1="75%" x2="66.6666%" y2="60%" class="chartLines chartElement" />
                    <circle cx="66.6666%" cy="60%" r="5px" class="chartCircles chartElement" />
                    <text x="66.6666%" y="63%" fill="black" class="chartText chartElement">August</text>

                    <line x1="66.6666%" y1="60%" x2="75%" y2="57%" class="chartLines chartElement" />
                    <circle cx="75%" cy="57%" r="5px" class="chartCircles chartElement" />
                    <text x="75%" y="60%" fill="black" class="chartText chartElement">September</text>

                    <line x1="75%" y1="57%" x2="83.3333%" y2="50%" class="chartLines chartElement" />
                    <circle cx="83.3333%" cy="50%" r="5px" class="chartCircles chartElement" />
                    <text x="83.3333%" y="48%" fill="black" class="chartText chartElement">October</text>

                    <line x1="83.3333%" y1="50%" x2="91.6666%" y2="52%" class="chartLines chartElement" />
                    <circle cx="91.6666%" cy="52%" r="5px" class="chartCircles chartElement" />
                    <text x="91.6666%" y="55%" fill="black" class="chartText chartElement">November</text>

                    <line x1="91.6666%" y1="52%" x2="98%" y2="45%" class="chartLines chartElement" />
                    <circle cx="98%" cy="45%" r="5px" class="chartCircles chartElement" />
                    <text x="93%" y="43%" fill="black" class="chartText chartElement">December</text>
                </svg>
            </div>
            <div id="openStartWrapper">
                <!-- Open Statement Text -->
                <h1 id="openStatementStart">Budgetor</h1>
                <p>Track how every penny is earned and spent.</p>
            </div>
            <div id="contentHintWrapper">
                &#187;
            </div>
        </div>
        <div id="compatibleDevicesWrapper" class="row">
            <img src="https://img.icons8.com/ios/50/000000/google-play--v1.png" alt="play store icon"/>
            <img src="https://img.icons8.com/ios/50/000000/internet--v1.png" alt="internet icon"/>
            <img src="https://img.icons8.com/ios/50/000000/ios-logo.png" alt="ios icon"/>
        </div>
        <div id="sellerWrapper" class="col">
            <div id="customSellerPointWrapper" class="sellerPointWrappers row">
                <div class="sellerPointSubWrapper-Text sellerPointSubWrapper">
                    <h2 class="sellerTitles">Customize</h2>
                    <p class="sellerDescriptors">Imagine how much more likely you'll be to budget if you can manage money in the same way you view it.  Monthly budget not your thing?  Set the time frame to bi-weekly, weekly, or anything you'd like!  Discover the many ways you can personalize <em>your</em> budget</p>
                </div>
                <div id="customizeImage" class="sellerPointSubWrapper-Img sellerPointSubWrapper"></div>
            </div>
            <div id="freeSellerPointWrapper" class="sellerPointWrappers row">
                <div class="sellerPointSubWrapper-Text sellerPointSubWrapper">
                    <h2 class="sellerTitles">Free</h2>
                    <p class="sellerDescriptors">Nothing steals momentum in starting a budget quite like having to pay for budgeting tools.  That's why budgetor will be free now and forever.  Server costs are paid for by generous donations and selling cosmetic designs and layouts within the website.</p>
                </div>
                <div id="freeImage" class="sellerPointSubWrapper-Img sellerPointSubWrapper"></div>
            </div>
            <div id="privacySellerPointWrapper" class="sellerPointWrappers row">
                <div class="sellerPointSubWrapper-Text sellerPointSubWrapper">
                    <h2 class="sellerTitles">Data Secure</h2>
                    <p class="sellerDescriptors">Your data is important.  Budgetor will never sell or distribute your information.  You can read more about how Budgetor handles your privacy <a href="/privacy">here</a>.</p>
                </div>
                <div id="privacyImage" class="sellerPointSubWrapper-Img sellerPointSubWrapper"></div>
            </div>
            <div id="convenientSellerPointWrapper" class="sellerPointWrappers row">
                <div class="sellerPointSubWrapper-Text sellerPointSubWrapper">
                    <h2 class="sellerTitles">Convenient</h2>
                    <p class="sellerDescriptors">One of the main goals of Budgetor is to relieve you of the tedious parts of maintaining a budget and deliver a comprehensive overview of your financial situation.  This is why budgetor is available across all of your devices with a simple interface to make budgeting a breeze!</p>
                </div>
                <div id="goalImage" class="sellerPointSubWrapper-Img sellerPointSubWrapper"></div>
            </div>
        </div>
        <div id="callToArmsWrapper" class="row">
            <h1>My Statement to You.</h1>
            <p>The last thing you need to worry about when stressing about money is paying for budgeting software. This software is a passion project to help anyone track and make sense of their situation.  Take the busy work out of maintaining a budget and focus on the big picture goals that help you achieve financial freedom.</p>
            <a href="/home">
                <button id="signUpBtn">Sign Up</button>
            </a>
        </div>
        <div id="footerWrapper">
            <a href="https://www.flaticon.com/free-icons/" title="customize icons">Custom icons created by Good Ware - Flaticon</a>
        </div>
    </body>
</html>