body {
    background: url('../img/moneySprout.jpg') no-repeat center fixed;
    background-size: cover;
}
#header {
    justify-content: left;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 16px;
    border-bottom: 1px solid white;
    color: white;

    justify-content: space-between;
    align-items: center;
    position: relative;
}
#header div {
    display: flex;
    align-items: center;
}
#header a {
    font-size: 48px;
    text-decoration: none;
    color: white;
    font-family: 'Koulen';
}

.inputWrapper {
    align-items: center;
    justify-content: center;
}

.popAnimation {
    cursor: pointer;
    animation: pop 1s ease forwards;
    animation-fill-mode: forwards;
}
@keyframes pop {
    0% {
        opacity: 1;
        transform: scale(1);
        background-color: #808080be;
    } 25% {
        opacity: 0.75;
        transform: scale(0.9);
    } 50% {
        opacity: 1;
        transform: scale(1.2);
    } 100% {
        transform: scale(1);
        background-color: rgb(0, 88, 40);
    }
}

/* Overrides from login.css */
.form {
    margin: 100px auto !important;
    width: fit-content !important;
    height: fit-content !important;
}
.inputContainer {
    margin: 0px 8px 16px 8px !important;
    min-width: 300px;
}
#passwordContainer {
    margin: 32px 8px 16px 8px !important;
}
#createAccountBtn {
    background-color: #808080be; /* Disabled Color */
}
.submitBtn:hover:disabled {
    border-radius: 15px !important;
}
.submitBtn:hover:enabled {
    border-radius: 5px 15px !important;
}